{% extends "base.jinja2" %}

{% block content %}
<h1>Your Pantry</h1>

<ul>
  {% for product in products %}
  <li>
    <h2>{{product[0]['name']}}</h2>
    <p>({{product[0]['brand']}}) {{product[0]['size']}}</p>
    <p><a href="{{request.route_url('detail', upc=product[0]['upc'])}}">View Vetails</a></p>
    <p><a href="{{request.route_url('detail', upc=product[0]['upc'])}}">Add to Shopping List</a></p>
    <p><a href="{{request.route_url('detail', upc=product[0]['upc'])}}">Edit Item</a></p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
