{% extends "base.jinja2" %} 

{% block content %}




<ul>
    {% for item in data %}
        <h3>{{item.name}}</h3>
        <p>{{item.price}}</p>
        <h2>{{item.brand}}</h2>
        <p>{{item.category}}</p>
        <p>{{item.upc}}</p>
        <p>{{item.size}}</p>
        <p>{{item.description}}</p>
            <p>
                <a href="{{request.route_url('detail', upc=item.upc)}}">view more</a>
            </p>
        {% endfor %}
    </ul>

    {% endblock content %}