{% extends "base.jinja2" %}

{% block content %}
    <ul>
        <p>{{item.name}}</p>
        <p>{{item.brand}}</p>
        <p>{{item.size}}</p>
        <p>{{item.category}}</p>
        <p>{{item.upc}}</p>
        <p>{{item.description}}</p>
        <image src="{{item.image[2:-2]}}">
    </ul>

    {% endblock content %}
