{% extends 'base.jinja2' %}

{% block content %}
<center>
  <h2>Look Up Item</h2>
  <h6>Here you can look up an item and add it to your pantry.</h6>
</center>


  <!--- IF ERROR --->
  {% if err %}
  <h3>{{err}}</h3>
  {% endif %}

  <!-- ADD ITEM -->
  <form method='GET' action="{{request.route_url('lookup_item')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <fieldset>
      <legend>Add Item</legend>
      UPC SCAN: <input type='text' name='upc'>
    </fieldset>
  </form>

  <!-- DELETE ITEM -->
  <form method='POST' action="{{request.route_url('lookup_item')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <fieldset>
      <legend>Remove Item</legend>
      UPC SCAN: <input type='text' name='upc'>
    </fieldset>
  </form>
</center>

  {% if err %}
  <form id='new-entry' method='POST' action='{{request.route_url('lookup_item')}}'>
    <fieldset>
      <legend>FILL MISSING FORM</legend>
      ITEM UPC:     <input onmousedown='return false;' value='last scan id' name='upc'>
      NAME:         <input name=''>
      BRAND:        <input name=''>
      DESCRIPTION:  <input name=''>
      CATEGORY:     <input name=''>
      IMAGE:        <input name=''>
      SIZE:         <input name=''>
      MANUFACTURER: <input name=''>
    </fieldset>
  </form>
  {% endif %}


{% endblock content %}
