{% extends "base.jinja2" %}

{% block content %}
<center>
  <h2>Manage Items</h2>
  <h6>Here you are able to add, remove, or edit an item from your pantry.</h6>
</center>

  <!-- ADD ITEM TO PANTRY -->
  <form method='GET' action="{{request.route_url('manage_item')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <fieldset>
      <legend>Add Item to Pantry</legend>
      UPC SCAN: <input type="text" name="upc">
    </fieldset>
  </form>

  <!-- ADD ITEM TO CART -->
  <form method='POST' action="{{request.route_url('manage_item')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <fieldset>
      <legend>Add Item Cart</legend>
      UPC SCAN: <input type="text" name="upc">
    </fieldset>
  </form>

  <!-- DELETE ITEM -->
  <form method='DELETE' action="{{request.route_url('manage_item')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <fieldset>
      <legend>Remove Item</legend>
      UPC SCAN: <input type="text" name="upc">
    </fieldset>
  </form>
</center>

{% endblock content %}
