{% extends "base.jinja2" %} 

{% block content %}
<table id="details">
    <thead>
        <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Show Details</th>
    </thead>
    <tbody>
    {% for item in data['pantry'] %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.size}}</td>
        <td id="show_detail"><ahref="{{request.route_url('detail', upc=item.upc)}}">Details</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

