{% extends "base.jinja2" %}

{% block content %}
<form method='POST' action='{{request.route_url('lookup_item')}}'>
<ul>
    {% for item in data %}
    <h2 style="display:inline-block;">{{item.name}}</h2>
    <button>Remove Item</button>
    <p>{{item.size}}</p>
    <a style="display:block" href="{{request.route_url('detail', upc=item.upc)}}">More Details</a>


    {% endfor %}
</ul>
</form>
{% endblock content %}
