{% extends "base.jinja2" %}

{% block content %}
    <h2>Item name: {{data.name}}</h2>
    <p>Brand: {{data.brand}}</p>
    <p>Manufacturer: {{data.manufacturer}}</p>
    <p>Catagory: {{data.category}}</p>
    <p>UPC: {{data.upc}}</p>
    <p>Description: {{data.description}}</p>
{% endblock content %}
