{% extends "base.jinja2" %}

{% block content %}
<h1>My Shopping List</h1></br>
<table id="shopping">
    <thead>
      <tr>
        <th>Item</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Purchased</th>
      </tr>
    </thead>
  <tbody>
  {% for item in data %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.size}}</td>
    <td>{{item.qty}}</td>
    <td><input type="submit" value="remove">Remove</td>
    <td><button id="purchased"></button><input type="submit">Purchased</button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
