#app_title{
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
}
p {
  font-weight: 300;
}
li a {
  margin-top: 25px;
  margin-left: 9px;
  color: rgb(19, 102, 32);
}

img {
  width: 123px;
}

#logo {
  float: left;
  color: black;
  text-decoration: none;
  margin: 8px 4px;
  margin-bottom: 10px;
}
.nav_bar {
  font-family: 'Vollkorn', serif;
}

li {
  margin: 5px 1px;
  color: rgb(85, 75, 212);
}

#index-hdr {
  margin: 20px 0px;
}

#welcome {
  font-family: 'Berkshire Swash', cursive;
}
#upc {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 30px;
}
.scan_box {
  float: left;
  margin: 20px;
}
#scan_box {
  width: 230px;
  border: solid 5px blue;
  border-radius: 20px;
  color:  rgb(17, 17, 82);
}
#upc_error {
  color:  red;
}
.new_entry input {
  float: right;
}