@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash|Diplomata|Libre+Barcode+39+Text|Vollkorn:600);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: green;
  background: rgb(172, 204, 136);
}
#app_title{
  font-family: Berkshire+Swash;
}
nav {
  margin-top: 25px;
  color: rgb(212, 130, 99);
}

img {
  width: 100px;
}

#logo {
  float: left;
  color: black;
  text-decoration: none;
  margin: 1px 14px;
}

li {
  margin: 5px 1px;
  color: rgb(209, 147, 140);
}

#index-hdr {
  margin: 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "courier", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.title {
  font-family:   
}
